html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    padding: 5px;
    margin: 15px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: center;
    color: white;
}

h1, h2, p, figcaption {
    text-align: center;
    color: white;
}

img {
    border: 5px solid blue;
    border-radius: 35px;
    width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

figure {
    padding: 10px;
    border: 2px solid white;
    background-color: #222;
    color: white;
}

@media (min-width: 772px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }

    figure {
        border-radius: 50%;
    }

    figure:last-child {
        grid-column: span 2;
    }
}

@media (min-width: 992px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    figure {
        border-radius: 0;
    }

    figure:nth-child(3n) {
        grid-column: span 2;
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    figure {
        background-color: #222;
        color: white;
        border-color: white;
    }
}
